* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.body_content {
  background-image: url("https://cdn.discordapp.com/attachments/1016745958727491615/1032325890526429235/Background_image_words_kids_2.png");
  min-width: 100%;
  background-size: 20%;
  background-repeat: repeat;
  background-position: top;
  position: absolute;
  min-height: 100vh;
}

.box {
  background-color: #fff;
  padding: 46px 0 46px 0;
  min-height: 100%;
  margin-top: 32px;
  margin-right: 248px;
  margin-left: 248px;
  margin-bottom: 32px;
  border-radius: 50px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .body_content {
    background-image: none;
    background-color: #fff;
  }

  .box {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }
}
